USE [MiVet]
GO
/****** Object:  StoredProcedure [dbo].[Inventory_Select_All]    Script Date: 11/18/2022 3:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Gideon Macapagal
-- Create date: November 16 2022
-- Description: Get all records (paginated) from dbo.Inventory
-- Code Reviewer:

-- MODIFIED BY: 
-- MODIFIED DATE: 
-- Code Reviewer: 
-- =============================================

CREATE PROC [dbo].[Inventory_Select_All]
				@PageIndex int
				,@PageSize int

AS

/*
--------- TEST CODE ----------
DECLARE @PageIndex int = 0
		,@PageSize int = 5

EXECUTE dbo.Inventory_Select_All
		@PageIndex
		,@PageSize

SELECT *
FROM dbo.Inventory
*/

BEGIN

DECLARE @offset int = @PageIndex * @PageSize

SELECT i.[Id]
      ,i.[ProductId]
	  ,p.[Name] AS ProductName
      ,i.[Quantity]
      ,i.[BasePrice]
	  ,p.[Description] AS ProductDesc
	  ,pt.[Id] AS ProductTypeId
	  ,pt.[Name] AS ProductType
	  ,v.[Id] AS VendorId
	  ,v.[Name] AS Vendor
      ,i.[VetId]
      ,i.[IsActive]
      ,i.[DateCreated]
      ,i.[DateModified]
      ,i.[CreatedBy]
      ,i.[ModifiedBy]
	  , TotalCount = COUNT(1) OVER()
FROM	dbo.Inventory AS i
		inner join dbo.Products AS p
		ON i.ProductId = p.Id
		inner join dbo.ProductType AS pt
		ON p.ProductTypeId = pt.Id
		inner join dbo.Vendors AS v
		ON p.VendorId = v.Id

WHERE	i.IsActive = 1

ORDER BY i.Id

	OFFSET @offset Rows
	Fetch Next @PageSize Rows ONLY

END
GO
